@charset "utf-8";

table {
    table-layout: fixed;
    width: 100%;
}

td.cell3 {
    word-break : break-all;
}


label {
    display: block;
}

button-group {
    display: flex;
}
.button-group button {
    margin-right: 10px;
}

.error {
    color: red;
} 